* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.color {
  background: hsl(208, 57%, 85%);
}
hr {
  height: 2px;
  background-color: blue;
  border: none;
  width: 150px;
}

section {
  max-width: 200px;
}
.paginate {
  width: 4rem;
  padding: 5px;
}
.btn {
  font-size: 1.3rem;
  text-transform: capitalize;
  font-weight: 500;
  margin-right: 10px;
}
img {
  display: block;
  width: 130px;
  height: 130px;
  max-width: 100%;
  border-radius: 50%;
  height: auto;
}
@media (min-width: 768px) {
  .card {
  }
}
